---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import GrapQLReasong from "@/assets/graphql-reasons.png";
import Solar from "@/assets/solar.png";
import DockerJavaSpring from "@/assets/docker-java-spring.jpg";
import DWGCad from "@/assets/DWG-CAD-Drawing.jpg";
import EComm from "@/assets/e-commerce.png";
import Artikel from "@/assets/artikel-finder.png";
const meta = {
	description: "Ferhat Aslan Projects",
	title: "Projects",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Projects</h1>
		<p>I will add new projects here.</p>
		<ul class="mx-auto flex w-full flex-row flex-wrap items-center justify-center gap-5">
			<li>
				<a
					href="https://github.com/ferhat-aslan/artikel-finder"
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={Artikel}
						alt=""
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>German Artikel Finder App</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
			<li>
				<a
					href=""
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={GrapQLReasong}
						alt={"grapql"}
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>Angular GraphQL Github Api</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
			<li>
				<a
					href=""
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={DockerJavaSpring}
						alt=""
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>Docker Java Spring PostgreSQL Backend</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
			<li>
				<a
					href="https://github.com/ferhat-aslan/ng-zr"
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={DWGCad}
						alt=""
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>Angular Zrender Canvas DWG Viewer</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
			<li>
				<a
					href="https://github.com/ferhat-aslan/Angular-SolarPanel-SytemDesign"
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={Solar}
						alt=""
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>Angular Solar Energy Desing App</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
			<li>
				<a
					href="https://github.com/ferhat-aslan/Angular-E-Commerce-App"
					class="relative flex max-h-96 max-w-80 flex-col items-start justify-start lg:min-w-80"
				>
					<Image
						loading="lazy"
						decoding="async"
						src={EComm}
						alt=""
						class="min-h-full min-w-full rounded-b-md rounded-t-md object-cover brightness-75"
					/>
					<div
						class="absolute bottom-0 flex w-full flex-col rounded-b-md bg-black bg-opacity-60 p-2 text-white"
					>
						<h1>Angular E-Commerce App</h1>
						<p class="line-clamp-2 min-w-0 text-ellipsis text-xs text-slate-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nulla deserunt
							voluptatibus officia earum. Magni labore voluptatum commodi necessitatibus vitae ipsam
							quas? Ab mollitia error asperiores repellat provident. Exercitationem, placeat!
						</p>
					</div></a
				>
			</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="x-link inline-block"
				href="https://github.com/chrismwilliams/astro-x"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
